<IfModule mod_rewrite.c>
    Options -MultiViews
    RewriteEngine On

    # Redirects requests to index.php if not a file or directory
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    
    # Dynamically handle the request to redirect to index.php without specifying a base
    RewriteRule ^(.*)$ index.php/$1 [L,QSA]

    # Alternatively, to remove index.php from URLs explicitly
    # This rule makes sure to capture requests to index.php and rewrite them without index.php
    RewriteCond %{THE_REQUEST} \s/+(.*?)/index\.php/([^\s]+) [NC]
    RewriteRule ^ /%1/%2 [R=301,L,QSA,NE]
</IfModule>
